<script lang="javascript" src="public/javascripts/carousel.js"></script>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h2>{{h2}}</h2><br>
            <p>Initiez-vous au meilleur de la vie de chatelain à travers un wine-tour au
                concept simple et aux services V.I.P :</p>
            <p><br>
            </p>
            <ul>
                <li><b><u>Pick-up au point de rendez-vous (entre 8h00 et 9h00) + Petit
                            Déjeuné briefing</u></b></li>
            </ul>
            <dl>
                <dd>&nbsp; Choisissez la plage horaire et l'endroit (votre hôtel par
                    exemple) auxquels nous vous prenons en charge, puis laissez-vous
                    embarquer dans l'un de nos lieux favoris où un petit déjeuné vous sera
                    offert. Une pause durant laquelle nous effectuerons un briefing sur
                    l'ensemble du programme de la journée.</dd>
            </dl>
            <div id="carousel">
                <figure id="spinner">
                    <img src="public/images/carousel/wanaka-tree.jpg" alt>
                    <img src="public/images/carousel/pink-milford-sound.jpg" alt>
                    <img src="public/images/carousel/paradise.jpg" alt>
                    <img src="public/images/carousel/morekai.jpg" alt>
                    <img src="public/images/carousel/milky-blue-lagoon.jpg" alt>
                    <img src="public/images/carousel/lake-tekapo.jpg" alt>
                </figure>
            </div>
            <span style="float:left" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
            <span style="float:right" class="ss-icon" onclick="galleryspin('')">&gt;</span>
        </div>    
    </div>    

    <div class="row">
        <div class="col-lg-8">
            <ul>
                <li><b><u>Départ pour le chateau</u></b></li>
            </ul>
            <dl>
                <dd>&nbsp; Partez pour le domaine que vous avez préalablement séléctionné
                    parmis notre liste (via notre site internet ou dans notre agence) à bord
                    de l'un de nos vehicules spécialement aménagés pour vous offrir tout le
                    confort d'un service de luxe. Ces derniers sont en outre équipés de
                    mini-caméras afin d'immortaliser, selon votre accord, votre périple au
                    milieu des plus beaux vignobles bordelais. </dd>
            </dl>
<!--            <div id="carousel1">
                <figure id="spinner1">
                    <img src="public/images/carousel/wanaka-tree.jpg" alt>
                    <img src="public/images/carousel/pink-milford-sound.jpg" alt>
                    <img src="public/images/carousel/paradise.jpg" alt>
                    <img src="public/images/carousel/morekai.jpg" alt>
                    <img src="public/images/carousel/milky-blue-lagoon.jpg" alt>
                    <img src="public/images/carousel/lake-tekapo.jpg" alt>
                </figure>
            </div>
            <span style="float:left" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
            <span style="float:right" class="ss-icon" onclick="galleryspin('')">&gt;</span>-->
        </div>
    </div>


    <div class="row">
        <div class="col-lg-8">
            <ul>
                <li><u><b>Arrivée à destination</b></u></li>
            </ul>
            <dl>
                <dd>&nbsp; Sous la responsabilité de LBWT, vous êtes lesinvités de nos
                    partenaires. Vous serez donc accueillis par les représentants des lieux
                    en personne, qui vous retraceront de manière authentique l'histoire et
                    la richesse de leur héritage autours d'un thé, le tout dans un salon
                    accomodé à cet effet.</dd>
            </dl>
<!--            <div id="carousel2">
                <figure id="spinner2">
                    <img src="public/images/carousel/wanaka-tree.jpg" alt>
                    <img src="public/images/carousel/pink-milford-sound.jpg" alt>
                    <img src="public/images/carousel/paradise.jpg" alt>
                    <img src="public/images/carousel/morekai.jpg" alt>
                    <img src="public/images/carousel/milky-blue-lagoon.jpg" alt>
                    <img src="public/images/carousel/lake-tekapo.jpg" alt>
                </figure>
            </div>
            <span style="float:left" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
            <span style="float:right" class="ss-icon" onclick="galleryspin('')">&gt;</span>-->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <ul>
                <li><b><u>Familiarisez-vous au métier de viticulteur</u></b></li>
            </ul>
            <dl>
                <dd>&nbsp; Par le biais de votre visite au sein de chaque endroit-clé du
                    chateau, assimilez les gestes et techniques de vinification qui sont
                    propres à chaque producteur. Vous aurez également l'occasion de prendre
                    part à des ateliers participatifs, variables selon la saison.</dd>
            </dl>
<!--            <div id="carousel3">
                <figure id="spinner3">
                    <img src="public/images/carousel/wanaka-tree.jpg" alt>
                    <img src="public/images/carousel/pink-milford-sound.jpg" alt>
                    <img src="public/images/carousel/paradise.jpg" alt>
                    <img src="public/images/carousel/morekai.jpg" alt>
                    <img src="public/images/carousel/milky-blue-lagoon.jpg" alt>
                    <img src="public/images/carousel/lake-tekapo.jpg" alt>
                </figure>
            </div>
            <span style="float:left" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
            <span style="float:right" class="ss-icon" onclick="galleryspin('')">&gt;</span>-->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <ul>
                <li><b><u>Goûtez au Sud-Ouest Français</u></b></li>
            </ul>
            <dl>
                <dd>&nbsp; Durant votre séance de dégustation, explorez toute la richesse
                    culinaire de notre région à travers les associations vins et produits
                    typiques de notre terroire.</dd>
            </dl>
<!--            <div id="carousel4">
                <figure id="spinner4">
                    <img src="public/images/carousel/wanaka-tree.jpg" alt>
                    <img src="public/images/carousel/pink-milford-sound.jpg" alt>
                    <img src="public/images/carousel/paradise.jpg" alt>
                    <img src="public/images/carousel/morekai.jpg" alt>
                    <img src="public/images/carousel/milky-blue-lagoon.jpg" alt>
                    <img src="public/images/carousel/lake-tekapo.jpg" alt>
                </figure>
            </div>
            <span style="float:left" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
            <span style="float:right" class="ss-icon" onclick="galleryspin('')">&gt;</span>-->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <ul>
                <li><b><u>Déjeuné Bistronomique</u></b></li>
            </ul>
            <dl>
                <dd>&nbsp; Poursuivez votre voyage culinaire autours d'un repas convivial
                    composé des meilleurs produits de saison, servi en interieur ou en
                    exterieur selon vos préférences et la période de votre séjour. Le tout
                    sera accopagné des meilleurs vins de la cave du chateau.</dd>
                <dt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </dt>
                <dd><i><u>NB :</u></i> Pour les formules 2 et 3 jurnées de visite, il vous
                    est offert la possibilité de déjeuner dans l'un de nos endroits typiques
                    et insolites (palombières, cabances de chasseurs, etc) que vous pourrez
                    choisir parmis nos propositions sur le site internet où à l'angence. </dd>
            </dl>
<!--            <div id="carousel5">
                <figure id="spinner5">
                    <img src="public/images/carousel/wanaka-tree.jpg" alt>
                    <img src="public/images/carousel/pink-milford-sound.jpg" alt>
                    <img src="public/images/carousel/paradise.jpg" alt>
                    <img src="public/images/carousel/morekai.jpg" alt>
                    <img src="public/images/carousel/milky-blue-lagoon.jpg" alt>
                    <img src="public/images/carousel/lake-tekapo.jpg" alt>
                </figure>
            </div>
            <span style="float:left" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
            <span style="float:right" class="ss-icon" onclick="galleryspin('')">&gt;</span>-->
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-8">
            <ul>
                <li><b><u>Retour à l'agence et appéritif de remerciement</u></b></li>
            </ul>
            <dl>
                <dd>&nbsp; Clôturez votre sejour en notre compagnie en partageant votre
                    expérience autours d'un appéritif concocté par nos soins, moment durant
                    lequel nous vous remettrons l'ensemble des images prises avec votre
                    autorisation durant le Wine-Tour, ainsi qu'un coffret cadeau
                    personnalisé et peu encombrant que vous emporterez en guise de souvenir.</dd>
            </dl>
<!--            <div id="carousel6">
                <figure id="spinner6">
                    <img src="public/images/carousel/wanaka-tree.jpg" alt>
                    <img src="public/images/carousel/pink-milford-sound.jpg" alt>
                    <img src="public/images/carousel/paradise.jpg" alt>
                    <img src="public/images/carousel/morekai.jpg" alt>
                    <img src="public/images/carousel/milky-blue-lagoon.jpg" alt>
                    <img src="public/images/carousel/lake-tekapo.jpg" alt>
                </figure>
            </div>
            <span style="float:left" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
            <span style="float:right" class="ss-icon" onclick="galleryspin('')">&gt;</span>-->
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-8">
            <dl>
                <dd><i>Il ne vous reste plus qu'à choisir parmis nos <u><b>3 Formules</b></u> afin
                        de Tomber sous Le Charme!</i></dd>
            </dl>
            <p style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <u><i><a routerLink="/booking" title="Réservez maintenant">Réservez maintenant</a></i></u></p>
            <br>
        </div>
    </div>
</div>
