<img src="cid:mold@glass" alt="" style="width:75px;float:left;" />
<h1>Votre compte</h1>
<br>
<p>
    <%= username %>, vous avez demandé la réinitialisation de votre mot de passe.
    Veuillez cliquer sur le lien ci-dessous pour être redirigé vers le formulaire.    
</p>
<p>
    https://<%= domain %>/auth/reset/<%= id %>/<%= token %>
</p>
<p>Info légale</p>