<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h2>{{h2}}</h2>
            <br>
            <div id="mapdiv" style="width:100%; background-color:#222222; height:500px;"></div>
        </div>
    </div>
    <br>
    <!--    <div *ngIf="wineyards" class="row">
            <li *ngFor="let wineyard of wineyards">
                <span class="id">{{wineyard.id}}</span> <b>{{wineyard.name}}</b>
                <p><em>{{wineyard.grape}}</em></p>
                <br>
                <p>{{wineyard.description}}</p>
            </li>
        </div>-->
    <div class="row page-header">
        <div class="col-lg-8">
            <p>
                Jeune entreprise lancée en 2018, Little Bordeaux Wine Touring (LBWT) a été créée pour vous faire vivre une expérience taillée sur mesure au coeur des régions viticoles Bordelaises.
            </p>
            <br>
            <p>
                Spécialisée dans l'oenotourisme, notre objectif est de vous faire découvrir tout le savoir-faire de ce terroir unique à travers un tour haut-de-gamme complet, comprenant:
            </p>
            <br>
            <ul>
                <li>
                    Introduction historique de chacun des domaine par les propriétaires des lieux en personnes
                </li>
                <li>
                    Initiation aux différentes techniques et processus de vinification propres à chaque domaine (atelier participatif selon la saison)
                </li>
                <li>
                    Dégustation oenologique et initiation à l’association vins-produits du terroir
                </li>
                <li>
                    Déjeuné Bistronomique dont le menu et le lieu varient selon la saison
                </li>
            </ul>
            <br>
            <p>
                Etalé sur 1 à 3 demi-journées, le wine-tour a été méthodiquement conçu pour vous offrir un séjour instructif et riche en émotion selon les principes du « Bon vivre à la Bordelaise ».
            </p>
            <br>
            <p>
                Et afin d’immortaliser votre escale, nous vous remettons l’ensemble des images prises par nos soins, ainsi qu’un coffret-cadeau personnalisé, le tout lors d’un apéritif de remerciement clôturant votre prise en charge. Ces services sont bien sûr inclus dans le prix du séjour.
            </p>
            <br>
            <p>
                Rejoignez-nous, et tombez sous le charme.
            </p>
        </div>
    </div>
</div>
