<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" routerLink="/">{{title}}</a> 
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a routerLink="/concept" routerLinkActive="active">Concept</a></li>
                    <li><a routerLink="/gallery" routerLinkActive="active">Galerie</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Préstations <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a routerLink="/booking" routerLinkActive="active">Réservation</a></li>
                            <li><a routerLink="/sale" routerLinkActive="active">Vente</a></li>
                            <!--                            <li class="divider"></li>
                                                        <li class="nav-header">Nav header</li>
                                                        <li><a href="#">Separated link</a></li>
                                                        <li><a href="#">One more separated link</a></li>-->
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Exemples <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a routerLink="/blob" routerLinkActive="active">Blob</a></li>
                            <li><a routerLink="/crypto" routerLinkActive="active">Crypto</a></li>
                            <!--                            <li class="divider"></li>
                                                        <li class="nav-header">Nav header</li>
                                                        <li><a href="#">Separated link</a></li>
                                                        <li><a href="#">One more separated link</a></li>-->
                        </ul>
                    </li>
                    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <!--li>
                        <form class="input-append hidden-tablet" method="GET" action="/search" style="margin-top:4px;margin-bottom:5px;">
                            <input id="kw" class="span2" title="" name="kw" maxlength="40" type="text">
                            <button class="btn" type="submit"><i class="icon-search" title="Search"></i></button>
                        </form>
                    </li-->
                    <li *ngIf="!user" class="dropdown" id="menuLogin">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Connexion <b class="caret"></b></a>
                        <ul class="dropdown-menu" style="padding:17px;">
                            <li>
                                <form class="form">
                                    <input name="username" [(ngModel)]="username" placeholder="Utilisateur" type="text">
                                    <input name="password" [(ngModel)]="password" placeholder="Mot de passe" type="password"><br>
                                    <button (click)="signin()" type="button" class="btn btn-primary" disabled="{{buttonDisabled}}">Connexion</button>
                                </form>
                            </li>
                            <li class="divider"></li>
                            <li><a routerLink="/signin" title="Autres modes de connexion (Google, Facebook, etc)">Autres modes de connexion</a></li>
                            <li><a routerLink="/signup" title="Nouvel utilisateur ?">Nouvel utilisateur ?</a></li>
                            <li><a routerLink="/forgotten" title="Mot de passe oublié ?">Mot de passe oublié ?</a></li>
                        </ul>
                    </li>
                    <li *ngIf="user" class="dropdown">
                        <a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown">
                            <img *ngIf="user.photo" src="{{user.photo}}" alt="Photo" class="img-circle special-img"> {{user.displayedName}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a routerLink="/profile" title="Profil"><i class="fa fa-cog"></i> Profil</a></li>
                            <li class="divider"></li>
                            <!--<li><a href="/auth/signout" title="Déconnection"><i class="fa fa-sign-out"></i> Déconnection</a></li>-->
                            <li><a (click)="signout()" title="Déconnection"><i class="fa fa-sign-out"></i> Déconnection</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>