<img src="cid:mold@glass" alt="" style="width:75px;float:left;" />
<h1>Bienvenue !</h1>
<br>
<p>
    <%= username %>, votre compte à été créé avec succès.
    Veuillez cliquer sur le lien ci-dessous pour confirmer l'inscription.
</p>
<p>
    https://<%= domain %>/auth/validate/<%= id %>/<%= token %>
</p>
<p>Info légale</p>