<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h2>{{h2}}</h2>
            <br>
            <a href="/auth/google">Se connecter avec Google</a><br>
            <a href="/auth/facebook">Se connecter avec Facebook</a><br>
            <a href="/auth/twitter">Se connecter avec Twitter</a><br>
            <a href="/auth/instagram">Se connecter avec Instagram</a><br>
            <a href="/auth/linkedin">Se connecter avec Linkedin</a><br>
        </div>
    </div>
</div>
